<div class="key {{note.name.replace('#', '-sharp')}}"
    [ngClass]="{'active': isPlaying, 'sharp': note.name.endsWith('#'), 'has-sharp-before': note.hasSharpBefore}"
    (mousedown)="onpress.next(note)"
    (mouseup)="onrelease.next(note)"
    (mouseover)="onmovein.next(note)"
    (mouseleave)="onmoveout.next(note)">
    <div *ngIf="!note.name.endsWith('#')" class="note-settings">
        <input type="range" orient="vertical" (input)="changeFrequency($event)" min="260"
            max="540" [value]="note.current_frequency" />
        <div class="note-index">
            <span>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;540</span>
            <span>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;470</span>
            <span>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;400</span>
            <span>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;330</span>
            <span>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;260</span>
        </div>
    </div>
    <span class="current-frequency" *ngIf="!note.name.endsWith('#')">{{this.note.current_frequency | number: '1.0-0'}} Hz</span>
    <div class="note-name">
        {{note.name}}
    </div>
</div>
